# .env

APP_NAME=MEANDRE

SERVER_USER=server_user
SERVER_EMAIL=admin@domain.fr
SERVER_IP=server_ip
SERVER_NAME=meandre.domain.fr
SERVER_DIR=/path/to/store/MEANDRE

DB_SUPER_USER=db_super_user
DB_SUPER_PASSWORD=db_super_password
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=db_name

DEBUG=True

URL=meandre.domain.fr
FROM=from@domain.fr
TO=to@domain.fr
SMTP_HOST=smtp.domain.fr
SMTP_PORT=587
SMTP_USERNAME=username
SMTP_PASSWORD=password
SUBJECT=subject
