	
/* font-family: 'Lato', sans-serif;
	    font-family: 'Poppins', sans-serif;
	    font-family: 'Raleway', sans-serif;
	    font-family: 'Raleway Dots', sans-serif; */

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #F5F5F5;
    color: #060508;
    font-family: "Lato", sans-serif;
    font-size: 0.9rem;
}


a {
    color: #060508;
    text-decoration: none;
}


p {
  margin: 0rem;
}
p.top-space {
    margin-top: 0.4rem;
}
p.top-big-space {
    margin-top: 0.8rem;
}
p.bottom-space {
    margin-bottom: 0.4rem;
}
p.bottom-big-space {
    margin-bottom: 0.8rem;
}

.chain_block {
    flex-wrap: wrap;
    flex-direction: column;
}
.chain_block_label {
    font-weight: bold;
    color: #89898a;
}

.bunch {
    display: flex;
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.row-small-gap {
    row-gap: 0.5rem;
}
.row-gap {
    row-gap: 1rem;
}
.column-small-gap {
    column-gap: 0.5rem;
}
.column-gap {
    column-gap: 1rem;
}
.baseline {
    align-items: last baseline;
}
.cross-center {
    align-items: center;
}
.center {
    justify-content: center; 
}

.gallery-item.align-center {
    align-items: center;
}
.gallery-item.justify-center {
    justify-content: center;
}

span.top-space {
    margin-top: 0.4rem;
}
span.align-start {
    text-align: start;
}

.bunch.space {
    margin-top: 0.1rem;
    margin-bottom: 0.4rem;
}
.bunch.left-border {
    border-left: 3px solid #89898a;
}


#container-update {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
#button-update {
    color: white;
    background: #16171f;
    border-radius: 5rem 5rem;
    width: fit-content;
    padding-top: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.1rem;
}
#button-update:hover {
    color: #70757A;
}

button {
    font: inherit;
    border: none;
    min-width: 2rem;
    padding: 0 0.4rem;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    color: #89898a;
    touch-action: manipulation;
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}
button.selected {
    color: #060508;
    font-weight: bold;
}
button:hover {
    font-weight: normal;
    color: #060508;
}
.unselected button {
    color: #89898a !important;
}

button.selected .notif,
button:hover .notif {
    position: absolute;
    top: 0.25rem;
    right: -0.05rem;
    transform: translateY(-50%);
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 1rem/1rem;
    background: red;
    border: solid 2px #ffffff;
    color: white;
    display: inline-block;
}

button.chain_block_button {
    margin-top: 0.2rem;
    margin-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    min-width: auto;
    white-space: nowrap;
    text-align: center;
    width: fit-content;
}
button.chain_block_button {
    font-weight: bold;
    color: #89898a;
}
button.chain_block_button:hover {
    font-weight: normal;
    color: #89898a;
}


.reduce-space {
    margin-left: -0.15rem; /* Adjust the margin as needed to reduce the space */
    margin-right: -0.15rem; /* Adjust the margin as needed to reduce the space */
}
.material-icons,
.material-icons-outlined,
.material-icons-round {
    color: #302f2f;
}

.material-icons.inline-front,
.material-icons-outlined.inline-front,
.material-icons-round.inline-front {
    font-size: 0.9rem;
    padding-right: 0.1rem;
}

.material-icons.inline-back,
.material-icons-outlined.inline-back,
.material-icons-round.inline-back {
    font-size: 0.9rem;
    margin-left: 0.1rem;
}




button .material-icons,
button .material-icons-outlined {
    color: #89898a;
}
button.selected .material-icons,
button.selected .material-icons-outlined {
    color: #060508;
    font-weight: bold;
}
button:hover .material-icons,
button:hover .material-icons-outlined {
    color: #060508;
    font-weight: normal;
}

.vert {
    color: #569A71;
}
.vert:hover {
    color: #569A71;
    opacity: 0.7;
}
.vert.selected {
    color: #569A71;
    font-weight: bold;
}
.jaune {
    color: #EECC66;
}
.jaune:hover {
    color: #EECC66;
    opacity: 0.7;
}
.jaune.selected {
    color: #EECC66;
    font-weight: bold;
}
.orange {
    color: #E09B2F;
}
.orange:hover {
    color: #E09B2F;
    opacity: 0.7;
}
.orange.selected {
    color: #E09B2F;
    font-weight: bold;
}
.violet {
    color: #791F5D;
}
.violet:hover {
    color: #791F5D;
    opacity: 0.7;
}
.violet.selected {
    color: #791F5D;
    font-weight: bold;
}




#container_menu_bar_map_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0rem;
    width: 100vw;
    
}

.top-section {
   margin-top: 0rem; 
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 1.4rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    margin-top: 0.7rem;
    margin-bottom: 0rem;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 1.3rem;

    width: 14rem;
    height: 3rem;
    color: #16171f;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

.logo img {
    height: 2.5rem;
    padding-bottom: 0.4rem;
    padding-right: 0.8rem;
    padding-left: 0.5rem;
}
.logo span {
    padding-right: 1.5rem;
}


#menu {
    pointer-events: auto;
    width: 0px;
    background-color: #ffffff;
    color: #060508;
    transition: width 0.3s ease;
    z-index: 2;
    overflow-y: auto;
}
#menu.expanded {
    pointer-events: auto;
    width: 18rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
}

.hidden {
    display: none;
}

#menuExpand {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


/* DRAWER */
.drawer {
    position: relative;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-top: 2px solid #70757A;
}
.subdrawer {
    position: relative;
}

.drawer-label,
.subdrawer-label {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.subdrawer-label {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.drawer-label h1:hover,
.subdrawer-label h2:hover,
.drawer-icon.material-icons-outlined,
.drawer-icon.material-icons-outlined {
    color: #70757A;
}

.drawer-icon.rotated {
    transform: rotate(-180deg);
}
.drawer-icon {
    transition: transform 0.3s ease;
}


.drawer-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.drawer-content.expanded {
    max-height: 1000px;
}

.end-drawer {
    height: 1.5rem;
}
.end-subdrawer {
    height: 0.5rem;
}



/* SLIDER */
.range-container {
    padding-top: 0.2rem;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    padding-bottom: 1.7rem;
    position: relative;
    height: 2rem;
}


.range-container:not(:hover) .slider-unselect .noUi-connect,
.range-container:not(:hover) .slider-unselect .noUi-base,
.range-container:not(:hover) .slider-unselect .noUi-handle,
.range-container:not(:hover) .slider-unselect .noUi-handle:hover,
.range-container:not(:hover) .slider-unselect .noUi-marker,
.range-container:not(:hover) .slider-unselect .noUi-marker-sub ,
.range-container:not(:hover) .slider-unselect .noUi-marker-large {
    background: #89898a !important;
    border: #89898a !important;
    box-shadow: #89898a !important;
}
.range-container:not(:hover) .slider-unselect .noUi-tooltip,
.range-container:not(:hover) .slider-unselect .noUi-pips-horizontal {
    color: #89898a !important;
}



.slider-styled,
.slider-styled .noUi-handle {
    box-shadow: none;
}

/* Hide markers on slider handles */
.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
    display: none;
}

.slider-round {
    height: 5px;
    top: 50%;
    border: 0px solid transparent;
}

.slider-round .noUi-connect {
    background: #3d3e3e;
}

.slider-round .noUi-base {
    background: #CACCCC;
    border-radius: 5px;
    border: 0px solid transparent;
}

.slider-round .noUi-handle {
    height: 14px;
    width: 14px;
    top: -5px;
    right: -7px;
    border-radius: 50%;
    background: #3d3e3e;
    border: 0px solid transparent;
}
.slider-round .noUi-handle:hover {
    height: 16px;
    width: 16px;
    top: -6px;
    right: -8px; /* half the width */
    border-radius: 50%;
    background: #3d3e3e;
    border: 0px solid transparent;
}
.slider-round .noUi-handle:active {
    height: 24px;
    width: 24px;
    top: -10px;
    right: -12px; /* half the width */
    border-radius: 50%;
    background: #3d3e3e;
    border: 5px solid #3d3e3e80;
    border: 5px solid #3d3e3e80;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.slider-round .noUi-tooltip {
    display: block;
    position: absolute;
    border-radius: 6px;
    background: #ffffff;
    color: #060508;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    white-space: nowrap;
    border: 0;
    box-shadow: 0 1px 2px rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15);
}


.slider-round .noUi-marker {
    position: absolute;
    background: #CCC;
}
.slider-round .noUi-marker-sub {
    background: #AAA;
}
.slider-round .noUi-marker-large {
    background: #AAA;
}

.slider-round .noUi-pips-horizontal {
    padding-top: 7px;
    padding-bottom: 10px;
    position: absolute;
    height: auto;
    width: 100%;
}
.slider-round .noUi-value-horizontal {
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}
.slider-round .noUi-rtl .noUi-value-horizontal {
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}
.slider-round .noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 1px;
    height: 7px;
}
.slider-round .noUi-marker-horizontal.noUi-marker-sub {
    height: 5px;
    width: 1px;
}
.slider-round .noUi-marker-horizontal.noUi-marker-large {
    height: 7px;
    width: 2px;
}

.slider-round .noUi-value.highlight {
    color: #060508;
    font-weight: bold;
}






#container_bar {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#full-bar {
    width: 100%;
    height: 3rem;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
}

#bar {
    width: calc(100vw - 14rem - 9rem - 6px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    transition: width 0.3s ease;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
#bar.expanded {
    width: calc(100vw - 14rem - 18rem - 6px);
}



.bar-tab {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    cursor: pointer;
    background-color: transparent;
    color: #060508;
    cursor: pointer;
    height: auto;
    transition: width 0.3s ease;
    margin-left: 0.6rem;
    margin-right: 0rem;
    text-wrap: wrap;
    line-height: 0.8rem;
    display: flex;
    gap: 0.4rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.bar-tab:hover,
.bar-tab:hover .material-icons-outlined{
    color: #70757A;
}

#bar-tab_other {
    margin-right: 0.9rem;
}
#bar-tab_space {
    flex-grow: 1;
}

#button-advance {
    position: absolute;
    right: 0;
    top: 0;
    background: #ffffff;
    width: 9rem;
    height: 3rem;
}
#button-advance.expanded {
    width: 0rem;
}
#bar-tab_advance {
    margin-right: 0.6rem;
    transition: width 0.3s ease;
}
#bar-tab_advance-icon, #bar-tab_advance-text, #bar-tab_advance-close {
    transition: opacity 0.3s ease;
    opacity: 1; 
}
#bar-tab_advance-icon.expanded,
#bar-tab_advance-text.expanded {
    opacity: 0; 
}

#bar-tab_close-advance {
    height: 3rem;
}


#left-arrow {
    left: 0.5rem;
}
#right-arrow {
    right: 0.5rem;
}
.arrow {
    cursor: pointer;
    position: sticky;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    z-index: 10;
    margin: 0.1rem;
}
.arrow.show {
    display: flex;
}

.subbar {
    transition: max-width 0.3s ease;
    max-width: 0rem;
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    column-gap: 1.3rem;
    text-wrap: nowrap;
    white-space: nowrap;
}
.subbar.expanded {
    max-width: 30rem;
}

.subbar-tab {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    cursor: pointer;
    background-color: transparent;
    color: #060508;
    cursor: pointer;
    min-height: 2rem;
    transition: opacity 0.3s ease;
    opacity: 0;
    display: none;
    line-height: 0.8rem;
    gap: 0.2rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    white-space: nowrap;
}
.subbar-tab.expanded {
    opacity: 1;
}

/* Hover effect for sub-tabs */
.subbar-tab:hover,
.subbar-tab:hover .material-icons-outlined {
    color: #70757A;
}
.subbar-tab:last-child {
    margin-right: 1rem;
}


.sep {
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 3rem;	     
    border-left: 3px solid #EDEDED;
}

.subbar-sep {
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 1.4rem;
    margin-right: 0.1rem;
    border-left: 3px solid #EDEDED;
}


/* #bar-tab_advance-button:hover .threebar .bar { */
/*     background-color: #70757A; */
/* } */
/* <div class='threebar hamburger'>	 */
/* <div class='bar'></div> */
/* <div class='bar'></div> */
/* <div class='bar'></div> */
/* </div> */
/* .threebar { */
/*     height: 11px; */
/*     width: 21px; */
/*     padding-top: 7px; */
/*     padding-left: 7px; */
/*     margin-bottom: -3px; */
/* } */
/* .threebar .bar { */
/*     position: absolute; */
/*     width: 18px; */
/*     height: 3px; */
/*     background: #060508; */
/*     /\* transition: all 0.6s ease; *\/ */
/*     transition: transform 0.6s ease; */
/* } */
/* .threebar .bar:nth-child(1) { */
/*     transform: translateY(-5px); */
/* } */
/* .threebar .bar:nth-child(3) { */
/*     transform: translateY(5px); */
/* } */
/* .threebar.cross .bar:nth-child(1) { */
/*     transform: rotate(45deg); */
/* } */
/* .threebar.cross .bar:nth-child(2) { */
/*     opacity: 0; */
/* } */
/* .threebar.cross .bar:nth-child(3) { */
/*     transform: rotate(-45deg); */
/* } */



#container_map {
    width: calc(100vh - 50px);
    height: calc(100vh - 50px);
    overflow: hidden;
}

#panel-hover {
    border: 3px solid #ffffff;
    background-color: #ffffff;
    padding: 0.2rem 0.3rem;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    display: none;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
#panel-hover_code {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #89898a;
    margin-bottom: 0.1rem;
}

#container_gallery {
    height: calc(100vh - 2rem);
    flex: 1;
    overflow-y: auto;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.gallery {
    transition: all 0.3s ease;
    display: grid;
    
    grid-template-rows: repeat(auto-fill, minmax(4rem, 1fr));
    grid-template-columns: repeat(auto-fill, 9rem);

    height: auto;
    
    grid-gap: 1rem;
    grid-auto-flow: row;
    overflow-y: auto;
}

.gallery-item {
    border: 3px solid #ffffff;
    background-color: #ffffff;
    padding: 1rem 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
}

.gallery-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-item span {
    position: relative;
    z-index: 1;
}


.grid-cross {
    cursor: pointer;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    font-size: 0.9rem;
}




/* #grid-variable { */
/*     flex-direction: row; */
/*     column-gap: 1rem; */
/*     align-items: center; */
/* } */
#grid-variable_variable {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: #3d3e3e;
}
#grid-variable_name {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #3d3e3e;
}
#grid-variable_sampling-period {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #89898a;
}


#grid-horizon_name {
    font-family: "Raleway", sans-serif;
    /* font-weight: 400; */
    font-size: 2rem;
    color: #3d3e3e;
}
#grid-horizon_period-l1 {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: #3d3e3e;
}
#grid-horizon_period-l2 {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: #3d3e3e;
}





.colorbar-unit {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    fill: #70757A;
    
    /* writing-mode: sideways-lr; */
}
.tick-line {
    stroke: #060508;
    stroke-width: 1px;
}
.bin-text {
    color: #3d3e3e;
    font-family: "Lato", sans-serif;
    font-weight: 600;
}


#grid-point_code-value {
    margin-bottom: 0.1rem;
}
#grid-point_code {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #89898a;
}
#grid-point_name {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    color: #3d3e3e;
    line-height: 1.7rem;
    margin-bottom: 0.5rem;
}

.grid-point_info {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #3d3e3e;
}
.text-light {
    color: #70757A !important;
}
.nowrap {
    white-space: nowrap;
}

#grid-point_surface {
    margin-bottom: 0.3rem;
}

#grid-point_n {
    margin-top: 0.3rem;
}

@media (max-width: 768px) {
    /* #back { */
    /* flex-direction: column; */
    /* align-items: stretch; */
    /* }  */

    #container_map {
	position: relative;
	width: 100vw;
	height: 100vw;
    }

    .gallery {
	width: 100vw;
	margin-left: 20px;
	top: 100vw;
    }
}



