/* Copyright 2024                                                     */
/* Louis Héraut (louis.heraut@inrae.fr)*1,                            */
/* Éric Sauquet (eric.sauquet@inrae.fr)*1                             */

/*     *1   INRAE, France                                             */

/* This file is part of MEANDRE.                                      */

/* MEANDRE is free software: you can redistribute it and/or           */
/* modify it under the terms of the GNU General Public License as     */
/* published by the Free Software Foundation, either version 3 of the */
/* License, or (at your option) any later version.                    */

/* MEANDRE is distributed in the hope that it will be useful, but     */
/* WITHOUT ANY WARRANTY; without even the implied warranty of         */
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU  */
/* General Public License for more details.                           */

/* You should have received a copy of the GNU General Public License  */
/* along with MEANDRE.                                                */
/* If not, see <https://www.gnu.org/licenses/>.                       */


#logo {
    font-size: 1.3rem;
    width: 14rem;
    height: 3rem;
    color: #16171f;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 900;

    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#logo img {
    height: 2.5rem;
    padding-bottom: 0.4rem;
    padding-right: 0.8rem;
    padding-left: 0.5rem;
}
#logo span {
    padding-right: 1.5rem;
}


#container-logo-bar-sep {
    width: 100%;
    height: 3rem;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
}
#container-bar-sep {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
}

#bar {
    position: relative;
    height: 3rem;
    width: calc(100vw - 14rem - 8rem - 6px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    transition: width 0.3s ease;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
#bar.expanded {
    width: calc(100vw - 14rem - 18rem - 6px);
}



.bar-tab {
    background-color: transparent;
    height: auto;
    transition: width 0.3s ease;
    margin-left: 0.6rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#tab_a-propos {
    margin-right: 1.1rem;
}
.bar-button {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 0.7rem;
    cursor: pointer;
    background-color: transparent;
    color: #060508;
    cursor: pointer;
    height: auto;
    /* text-wrap: wrap; */
    line-height: 0.8rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.bar-button:hover,
.bar-button:hover .material-icons-outlined{
    color: #70757A;
}





#tab_other {
    margin-right: 0.9rem;
}
#tab_space {
    flex-grow: 1;
}

.tab-text {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.subtab-text {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

#button_exploration-avancee {
    position: absolute;
    right: 0;
    top: 0;
    background: #ffffff;
    width: 8rem;
    height: 3rem;
}
#button_exploration-avancee.expanded {
    width: 0rem;
}
#tab_exploration-avancee {
    margin-right: 0.6rem;
    transition: width 0.3s ease;
}
#tab_exploration-avancee-icon, #tab_exploration-avancee-text, #tab_exploration-avancee-close {
    transition: opacity 0.3s ease;
    opacity: 1; 
}
#tab_exploration-avancee-icon.expanded,
#tab_exploration-avancee-text.expanded {
    opacity: 0; 
}

#tab_close_exploration-avancee {
    height: 3rem;
}


#left-arrow {
    left: 0.5rem;
}
#right-arrow {
    right: 0.5rem;
}
.arrow {
    cursor: pointer;
    position: sticky;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    z-index: 10;
    margin: 0.1rem;
}
.arrow.show {
    display: flex;
}

.subbar {
    transition: max-width 0.3s ease;
    max-width: 0rem;
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    column-gap: 1.3rem;
    text-wrap: nowrap;
    white-space: nowrap;
}
.subbar.expanded {
    max-width: 100rem;
}

.subbar-tab {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    cursor: pointer;
    background-color: transparent;
    color: #060508;
    cursor: pointer;
    min-height: 2rem;
    transition: opacity 0.3s ease;
    opacity: 0;
    display: none;
    line-height: 0.8rem;
    gap: 0.2rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    white-space: nowrap;
}
.subbar-tab.expanded {
    opacity: 1;
}

/* Hover effect for sub-tabs */
.subbar-tab:hover,
.subbar-tab:hover .material-icons-outlined {
    color: #70757A;
}
.subbar-tab:last-child {
    margin-right: 1rem;
}

.bar-tab.selected .tab-text{
    background: url("/resources/tab_selected.svg") center/cover no-repeat;
    background-size: 6rem;
    background-position-y: center;
}
.subbar-tab.selected .subtab-text{
    background: url("/resources/subtab_selected.svg") center/cover no-repeat;
    background-size: 6rem;
    background-position-y: bottom;
}


.sep {
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 3rem;	     
    border-left: 3px solid #EDEDED;
}

.subbar-sep {
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 1.4rem;
    margin-right: 0.1rem;
    border-left: 3px solid #EDEDED;
}


#container-update {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
#button-update {
    color: white;
    background: #16171f;
    border-radius: 5rem 5rem;
    width: fit-content;
    padding-top: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.1rem;
}
#button-update:hover {
    color: #70757A;
}


@media (max-width: 768px) {


    #container-logo-bar-sep {
	width: 100vw;
	height: 6rem;
	flex-direction: column;
	align-items: start;
    }

    #logo {
	position: relative;
	width: 100vw;
    }
    
    #first_sep {
	display: none;
    }
    
    #bar {
	width: calc(100vw - 3rem - 6px);
	height: 3rem;
    }
    #bar.expanded {
	/* width: calc(100vw - 18rem - 3px); */
	width: 0rem;
    }


    #button_exploration-avancee {
	top: 3rem;
	width: 3rem;
    }
    
    #tab_exploration-avancee-text {
	display: none !important;
    }

}
