/* Copyright 2024                                                     */
/* Louis Héraut (louis.heraut@inrae.fr)*1,                            */
/* Éric Sauquet (eric.sauquet@inrae.fr)*1                             */

/*     *1   INRAE, France                                             */

/* This file is part of MEANDRE.                                      */

/* MEANDRE is free software: you can redistribute it and/or           */
/* modify it under the terms of the GNU General Public License as     */
/* published by the Free Software Foundation, either version 3 of the */
/* License, or (at your option) any later version.                    */

/* MEANDRE is distributed in the hope that it will be useful, but     */
/* WITHOUT ANY WARRANTY; without even the implied warranty of         */
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU  */
/* General Public License for more details.                           */

/* You should have received a copy of the GNU General Public License  */
/* along with MEANDRE.                                                */
/* If not, see <https://www.gnu.org/licenses/>.                       */


.gallery {
    display: flex;
    height: auto;
    transition: all 0.3s ease;
    overflow-y: auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.gallery-item,
.gallery-item-small,
.gallery-arrow {
    border: 3px solid #ffffff;
    background-color: #ffffff;
    padding: 1rem 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    height: fit-content;
}
.gallery-item-small {
    padding: 0.5rem 1rem;
}
.gallery-arrow {
    padding: 0.1rem 0.1rem;
    cursor: pointer;
}
.gallery-item.no-fit {
    width: unset;
    height: unset;
}

.grid-cross {
    cursor: pointer;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    font-size: 0.9rem;
}


.gallery h1 {
    font-family: "Zen Tokyo Zoo", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: inline;
    text-wrap: balance;
    hyphens: manual;
    word-break: break-word;
    overflow-wrap: break-word;
}
.gallery-item .h1b {
    font-family: "Monoton", sans-serif;
    font-size: 2.5rem;
}
.gallery-item .nowrap {
    white-space: nowrap;
}
.gallery h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: balance;
    hyphens: manual;
    word-break: break-word;
    overflow-wrap: break-word;
}
.gallery h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-wrap: balance;
    hyphens: manual;
    word-break: break-word;
    overflow-wrap: break-word;
}

.gallery p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: inline;
    max-width: 38rem;
}
.gallery ul {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.gallery ul.last {
    margin-bottom: 0rem;
}


#grid-colorbar {
    width: 5rem;
}

#grid-variable {
    max-width: 20rem;
}
#grid-variable_variable {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: #3d3e3e;
}
#grid-variable_name {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #3d3e3e;
}
#grid-variable_sampling-period {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #89898a;
}


#grid-horizon {
    max-width: 27rem;
}
#grid-horizon_name {
    font-family: "Raleway", sans-serif;
    /* font-weight: 400; */
    font-size: 2rem;
    color: #3d3e3e;
}
#grid-horizon_period-l1 {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: #3d3e3e;
}
#grid-horizon_period-l2 {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: #3d3e3e;
}


#grid-n_number {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #3d3e3e;
}
.grid-n_text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #89898a;
    line-height: 0.8rem;
}



.colorbar-unit {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    fill: #70757A;
    
    /* writing-mode: sideways-lr; */
}
.tick-line {
    stroke: #060508;
    stroke-width: 1px;
}
.bin-text {
    color: #3d3e3e;
    font-family: "Lato", sans-serif;
    font-weight: 600;
}


#grid-point {
    max-width: 15rem;
}
#grid-point_code-value {
    margin-bottom: 0.1rem;
}
#grid-point_code {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #89898a;
    margin-bottom: 0.4rem;
}
#grid-point_name {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    color: #3d3e3e;
    line-height: 1.7rem;
    margin-bottom: 0.5rem;
}

.grid-point_info {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #3d3e3e;
}
.text-light {
    color: #70757A !important;
}
.nowrap {
    white-space: nowrap;
}

#grid-point_surface {
    margin-bottom: 0.3rem;
}

#grid-point_n {
    margin-top: 0.3rem;
}


#grid-chain_drawer-RCP {
    max-width: 27rem;
}
#grid-chain_drawer-narratif {
    max-width: 31rem;
}
#grid-chain_drawer-chain {
    max-width: 27rem;
}

.grid-chain_drawer {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #3d3e3e;
    line-height: 2rem;
    margin-bottom: 0.4rem;
}
.grid-chain_text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #3d3e3e;
}



#grid-line-container {
    box-sizing: border-box;
    width: calc(100% - 6px - 1rem); 
}

#grid-line {
    box-sizing: border-box;
    width: calc(100% - 6px - 1rem); 
    min-height: 10rem;
    max-height: 20rem;
}
#grid-line_title {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: #3d3e3e;
}
#grid-line_tooltip {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: #3d3e3e;
    height: 1rem;
    position: relative;
    opacity: 0;   
}

.gallery-item.text {
    display: inline;
    max-width: 38rem;
}

.gallery-item.small-text {
    display: inline;
    max-width: 20rem;
}
.gallery-item.screenshot {
    width: 15rem;
}
.gallery-item.source {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    width: fit-content;
    height: fit-content;
    color: #3d3e3e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery-item.source b {
    font-weight: 800;
}
.gallery-item.source:hover {
    color: #70757A;
}


@media (max-width: 768px) {
    .gallery h1 {
	font-size: 2.2rem;
    }
    .gallery-item .h1b {
	font-size: 1.8rem;
    }
    .gallery h2 {
	font-size: 1.8rem;
    }
}
