/* Copyright 2024                                                     */
/* Louis Héraut (louis.heraut@inrae.fr)*1,                            */
/* Jean-Philippe Vidal (jean-philippe.vidal@inrae.fr)*1                             */

/*     *1   INRAE, France                                             */

/* This file is part of MEANDRE.                                      */

/* MEANDRE is free software: you can redistribute it and/or           */
/* modify it under the terms of the GNU General Public License as     */
/* published by the Free Software Foundation, either version 3 of the */
/* License, or (at your option) any later version.                    */

/* MEANDRE is distributed in the hope that it will be useful, but     */
/* WITHOUT ANY WARRANTY; without even the implied warranty of         */
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU  */
/* General Public License for more details.                           */

/* You should have received a copy of the GNU General Public License  */
/* along with MEANDRE.                                                */
/* If not, see <https://www.gnu.org/licenses/>.                       */


#grid-finance {
    max-width: 24rem;
}
#grid-DRIAS {
    max-width: 30rem;
}

#propos_Explore2 {
    height: 3rem;
}

#propos_INRAE {
    padding: 0rem;
}
#propos_INRAE img {
    height: 6rem;
}

#propos_LIFE {
    height: 4rem;
}

#propos_LIFE_EC {
    height: 4rem;
}



#propos_AELB {
    padding: 0.5rem;
}
#propos_AELB img {
    height: 4rem;
}

#propos_AEAG {
    padding: 0.5rem;
}
#propos_AEAG img {
    height: 4rem;
}

#propos_AERMC {
    padding: 0.5rem;
}
#propos_AERMC img {
    height: 4rem;
}

#propos_AERM {
    padding: 0rem;
}
#propos_AERM img {
    height: 5rem;
}

#propos_ADEME {
    padding: 0rem;
}
#propos_ADEME img {
    height: 5rem;
}

#propos_ARA {
    padding: 0.5rem;
}
#propos_ARA img {
    height: 3rem;
}
