/* Copyright 2024                                                     */
/* Louis Héraut (louis.heraut@inrae.fr)*1,                            */
/* Jean-Philippe Vidal (jean-philippe.vidal@inrae.fr)*1               */

/*     *1   INRAE, France                                             */

/* This file is part of MEANDRE.                                      */

/* MEANDRE is free software: you can redistribute it and/or           */
/* modify it under the terms of the GNU General Public License as     */
/* published by the Free Software Foundation, either version 3 of the */
/* License, or (at your option) any later version.                    */

/* MEANDRE is distributed in the hope that it will be useful, but     */
/* WITHOUT ANY WARRANTY; without even the implied warranty of         */
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU  */
/* General Public License for more details.                           */

/* You should have received a copy of the GNU General Public License  */
/* along with MEANDRE.                                                */
/* If not, see <https://www.gnu.org/licenses/>.                       */


/* font-family: 'Lato', sans-serif;
	    font-family: 'Poppins', sans-serif;
	    font-family: 'Raleway', sans-serif;
	    font-family: 'Raleway Dots', sans-serif; */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #F5F5F5;
    color: #060508;
    font-family: "Lato", sans-serif;
    font-size: 0.9rem;

    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


a {
    color: #060508;
    text-decoration: none;
}


p {
  margin: 0rem;
}
p.top-space {
    margin-top: 0.4rem;
}
p.top-big-space {
    margin-top: 0.8rem;
}
p.bottom-space {
    margin-bottom: 0.4rem;
}
p.bottom-big-space {
    margin-bottom: 0.8rem;
}

.chain_block {
    flex-wrap: wrap;
    flex-direction: column;
}
.chain_block_label {
    font-weight: bold;
    color: #89898a;
}

.bunch {
    display: flex;
    flex-wrap: wrap;
}
.bunch.nowrap {
    flex-wrap: nowrap;
}
.bunch.column {
    flex-direction: column;
}
.bunch.row {
    flex-direction: row;
}
.bunch.row-small-gap {
    row-gap: 0.5rem;
}
.bunch.row-gap {
    row-gap: 1rem;
}
.bunch.row-big-gap {
    row-gap: 2rem;
}
.bunch.column-small-gap {
    column-gap: 0.5rem;
}
.bunch.column-gap {
    column-gap: 1rem;
}
.bunch.column-big-gap {
    column-gap: 2rem;
}
.bunch.cross-baseline {
    align-items: last baseline;
}
.bunch.cross-center {
    align-items: center;
}
.bunch.cross-end {
    align-items: end;
}
.bunch.center {
    justify-content: center; 
}
.bunch.space-between {
    justify-content: space-between; 
}
.bunch.end {
    justify-content: end; 
}
.bunch.space {
    margin-top: 0.1rem;
    margin-bottom: 0.4rem;
}
.bunch.left-border {
    border-left: 3px solid #89898a;
}

span.top-space {
    margin-top: 0.4rem;
}
span.align-start {
    text-align: start;
}




button {
    font: inherit;
    border: none;
    min-width: 2rem;
    padding: 0 0.4rem;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    color: #89898a;
    touch-action: manipulation;
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}
button.selected {
    color: #060508;
    font-weight: bold;
}
button:hover {
    font-weight: normal;
    color: #060508;
}
.unselected button {
    color: #89898a !important;
}

button.selected .notif,
button:hover .notif {
    position: absolute;
    top: 0.25rem;
    right: -0.05rem;
    transform: translateY(-50%);
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 1rem/1rem;
    background: red;
    border: solid 2px #ffffff;
    color: white;
    display: inline-block;
}

button.chain_block_button {
    margin-top: 0.2rem;
    margin-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    min-width: auto;
    white-space: nowrap;
    text-align: center;
    width: fit-content;
}
button.chain_block_button {
    font-weight: bold;
    color: #89898a;
}
button.chain_block_button:hover {
    font-weight: normal;
    color: #89898a;
}


.reduce-space {
    margin-left: -0.15rem; /* Adjust the margin as needed to reduce the space */
    margin-right: -0.15rem; /* Adjust the margin as needed to reduce the space */
}
.material-icons,
.material-icons-outlined,
.material-icons-round {
    color: #302f2f;
}

.material-icons.inline-front,
.material-icons-outlined.inline-front,
.material-icons-round.inline-front {
    font-size: 0.9rem;
    padding-right: 0.1rem;
}

.material-icons.inline-back,
.material-icons-outlined.inline-back,
.material-icons-round.inline-back {
    font-size: 0.9rem;
    margin-left: 0.1rem;
}


button .material-icons,
button .material-icons-outlined {
    color: #89898a;
}
button.selected .material-icons,
button.selected .material-icons-outlined {
    color: #060508;
    font-weight: bold;
}
button:hover .material-icons,
button:hover .material-icons-outlined {
    color: #060508;
    font-weight: normal;
}

.vert {
    color: #569A71 !important;
    font-weight: 600 !important;
}
.vert.border {
    border: solid 3px #569A71;
    border-radius: 100%;
    padding: 0.05rem;
}
.jaune {
    color: #EECC66 !important;
    font-weight: 600 !important;
}
.jaune.border {
    border: solid 3px #EECC66;
    border-radius: 100%;
    padding: 0.05rem;
}
.orange {
    color: #E09B2F !important;
    font-weight: 600 !important;
}
.orange.border {
    border: solid 3px #E09B2F;
    border-radius: 100%;
    padding: 0.05rem;
}
.violet {
    color: #791F5D !important;
    font-weight: 600 !important;
}
.violet.border {
    border: solid 3px #791F5D;
    border-radius: 100%;
    padding: 0.05rem;
}


.top-section {
   margin-top: 0rem; 
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 1.4rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    margin-top: 0.7rem;
    margin-bottom: 0rem;
}




#container-map-gallery {
    height: calc(100vh - 3rem);
    display: flex;
    /* flex-direction: row; */
    flex-grow: 1;
    overflow-y: auto;
    flex-wrap: wrap;
}


#container-map {
    position: relative;
    width: calc(100vh - 50px);
    height: calc(100vh - 50px);
    overflow: hidden;
    display: flex;
}
#svg-france-narratif {
    width: 100%;
    height: 100%;
}
.sub-container-map {
    position: relative;
    width: calc(100% / 2);
    height: calc(100% / 2);
}
.map-color {
    position: absolute;
    top: 1rem;
    left: 1rem;   
}


.container-gallery {
    height: calc(100vh - 3rem - 1rem);
    flex: 1;
    overflow-y: auto;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


#action-bar {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    z-index: 1;
}
#screenshot, #export {
    position: relative;
    color: #060508;
    font-size: 1rem;
    border: 3px solid #ffffff;
    background-color: #ffffff;
    padding: 0.2rem 0.3rem;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
}
#screenshot:hover, #export:hover {
    color: #70757A;
}
#screenshot {
    border-radius: 8px 0px 0px 8px;
}
#export {
    /* border-radius: 0px 8px 8px 0px; */
    border-radius: 8px;
}


#panel-hover {
    display: none;
    position: absolute;
    bottom: 0.5rem;
    left: 6rem;
    color: #060508;
    font-size: 1rem;
    border: 3px solid #ffffff;
    background-color: #ffffff;
    padding: 0.2rem 0.3rem;
    overflow: hidden;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
}
#panel-hover_code {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #89898a;
    margin-bottom: 0.1rem;
}




@media (max-width: 768px) {
    /* #back { */
    /* flex-direction: column; */
    /* align-items: stretch; */
    /* }  */

    #container-map-gallery {
	height: calc(100vh - 6rem);
    }
    
    #container-map {
	position: relative;
	width: 100vw;
	height: 100vw;
    }

    .container-gallery {
	height: unset;
	width: 100vw;
	/* height: calc(100vh - 6rem - 1rem); */
    }

    /* .gallery { */
    /* 	width: 100vw; */
    /* 	margin-left: 20px; */
    /* 	top: 100vw; */
    /* } */

}



