<!DOCTYPE html>
<html lang="fr">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MEANDRE</title>
	<link rel="icon" href="/resources/MEANDRE_logo.svg" type="image/x-icon">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway+Dots&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" -->
	<!-- rel="stylesheet"> -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp">

	<!-- topojson for json -->
	<script src="//d3js.org/topojson.v1.min.js"></script>
	<!-- geotoolbox for geo transformation -->
	<script src="https://cdn.jsdelivr.net/npm/geotoolbox" charset="utf-8"></script>

	<!-- d3 -->
	<!-- <script src="https://d3js.org/d3.v6.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
	<!-- d3 interpolate path -->
	<script src="https://unpkg.com/d3-interpolate-path@2.3.0/build/d3-interpolate-path.js"></script>

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	
	<!-- Slider -->
	<link rel="stylesheet" href="/css/nouislider.css">
	<script src="/js/nouislider.js"></script>
	<script src="/js/wNumb.js"></script>

	<!-- MEANDRE -->
	<script src="/js/script.js"></script>
	<script src="/js/menu.js"></script>
	<script src="/js/bar.js"></script>
	
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/menu.css">
	<link rel="stylesheet" href="/css/bar.css">
	<link rel="stylesheet" href="/css/slider.css">
	
    </head>
    <body>

	<div id="bar-element"></div>
	<div id="menu-element"></div>
	
	
	<div id="container-map">
	    <div id="panel-hover">
		<div class="bunch row column-small-gap center cross-center">
		    <div id="panel-hover_code"></div>
		    <!-- <div id="panel-hover_value"></div> -->
		</div>
	    </div>
	    <svg id="svg-france"></svg>
	</div>




	
	<div id="container-gallery">
	    <div class="gallery">
		
		


	    </div>
	</div>

	


	
	
    </body>
</html>
