<!DOCTYPE html>
<!--
     Copyright 2024
     Louis Héraut (louis.heraut@inrae.fr)*1,
     Éric Sauquet (eric.sauquet@inrae.fr)*1
     
     *1   INRAE, France

     This file is part of MEANDRE.

     MEANDRE is free software: you can redistribute it and/or
     modify it under the terms of the GNU General Public License as
     published by the Free Software Foundation, either version 3 of the
     License, or (at your option) any later version.

     MEANDRE is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
     General Public License for more details.

     You should have received a copy of the GNU General Public License
     along with MEANDRE.
     If not, see <https://www.gnu.org/licenses/>.
-->

<html lang="fr">
    <head>
	<title>MEANDRE</title>
	<link rel="icon" href="/resources/logo/MEANDRE_logo.svg" type="image/x-icon">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="MEANDRE présente de manière guidée un regard d'expert sur les résultats des projections hydrologiques réalisées sur la France. La mise à jour de ces projections a été réalisé entre 2022 et 2024 dans le cadre du projet national Explore2. Ces résultats sont un aperçu de quelques futures possibles pour la ressource en eau.">
	<meta name="keywords" content="MEANDRE, explore2, explore2070, drias-eau, changement climatique, environnement, hydrologie, futur, projection, simulation, eau, ressource, sécheresse, étiage, crue, extrême, rivière, fleuve, assec, carte, inrae, brgm, ofb, edf, ipsl, ens, météo-france, ige">
	<meta name="robots" content="index, follow">
	
	<!-- Open Graph Meta Tags -->
	<meta property="og:title" content="MEANDRE">
	<meta property="og:image" content="/resources/thumbnail.png">
	<meta property="og:description" content="Présente de manière guidée un regard d'expert sur les résultats des projections hydrologiques réalisées en France.">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway+Dots&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Train+One&family=Zen+Tokyo+Zoo&family=Monoton&display=swap" rel="stylesheet">
	
	<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" -->
	<!-- rel="stylesheet"> -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp">

	<!-- topojson for json -->
	<script src="//d3js.org/topojson.v1.min.js"></script>
	<!-- geotoolbox for geo transformation -->
	<script src="https://cdn.jsdelivr.net/npm/geotoolbox" charset="utf-8"></script>

	<!-- d3 -->
	<!-- <script src="https://d3js.org/d3.v6.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
	<!-- d3 interpolate path -->
	<script src="https://unpkg.com/d3-interpolate-path@2.3.0/build/d3-interpolate-path.js"></script>

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	
	<!-- Slider -->
	<link rel="stylesheet" href="/css/nouislider.css">
	<script src="/js/nouislider.js"></script>
	<script src="/js/wNumb.js"></script>

	<!-- MEANDRE -->
	<script src="/js/script.js"></script>
	<script src="/js/menu.js"></script>
	<script src="/js/bar.js"></script>
	
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/menu.css">
	<link rel="stylesheet" href="/css/bar.css">
	<link rel="stylesheet" href="/css/slider.css">
	<link rel="stylesheet" href="/css/loading.css">
	<link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="/css/gallery.css">
	<link rel="stylesheet" href="/css/propos.css">
	
    </head>
    <body>

	<div id="container-home" onclick="change_url('/plus-d-eau-ou-moins-d-eau/nord-et-sud', start=false, actualise=false);">

	    <div id="home">
		<div id="home-logo" class="logo">
		    <img src="/resources/logo/MEANDRE_logo.svg" alt="MEANDRE">
		    <span>MEANDRE</span>
		</div>
		<p>MEANDRE présente de manière guidée un regard d'expert sur les résultats des projections hydrologiques réalisées sur la France. La mise à jour de ces projections a été réalisé entre 2022 et 2024 dans le cadre du projet national Explore2.<br>Ces résultats sont un aperçu de quelques futures possibles pour la ressource en eau.</p>

		<a class="home-phone" href="https://professionnels.ofb.fr/fr/node/1244" target="_blank"
		   onclick="stopPropagation(event)">
		    <img id="home-by_Explore2"  src="/resources/logo/Explore2/LogoExplore2_white.png" alt="Explore2">
		</a>
		<a class="home-phone" href="https://aides-territoires.beta.gouv.fr/programmes/life/" target="_blank"
		   onclick="stopPropagation(event)">
		    <img id="home-by_LIFE"  src="/resources/logo/LIFE/LIFE_white.png" alt="LIFE">
		</a>
		<a class="home-phone" href="https://www.gesteau.fr/life-eau-climat" target="_blank"
		   onclick="stopPropagation(event)">
		    <img id="home-by_LIFE_EC"  src="/resources/logo/LIFE/LIFE_EC_white.png" alt="LIFE_EC">
		</a>
		<a class="home-phone" href="https://www.inrae.fr/" target="_blank"
		   onclick="stopPropagation(event)">
		    <img id="home-by_INRAE"  src="/resources/logo/INRAE/Republique_Francaise_INRAE_white.png" alt="INRAE">
		</a>
	    </div>

	    <div id="home-by">
		<a href="https://professionnels.ofb.fr/fr/node/1244" target="_blank"
		   onclick="stopPropagation(event)">
		    <img id="home-by_Explore2"  src="/resources/logo/Explore2/LogoExplore2_white.png" alt="Explore2">
		</a>
		<a href="https://aides-territoires.beta.gouv.fr/programmes/life/" target="_blank"
		   onclick="stopPropagation(event)">
		    <img id="home-by_LIFE"  src="/resources/logo/LIFE/LIFE_white.png" alt="LIFE">
		</a>
		<a href="https://www.gesteau.fr/life-eau-climat" target="_blank"
		   onclick="stopPropagation(event)">
		    <img id="home-by_LIFE_EC"  src="/resources/logo/LIFE/LIFE_EC_white.png" alt="LIFE_EC">
		</a>
		<a href="https://www.inrae.fr/" target="_blank"
		   onclick="stopPropagation(event)">
		    <img id="home-by_INRAE"  src="/resources/logo/INRAE/Republique_Francaise_INRAE_white.png" alt="INRAE">
		</a>
	    </div>
			
	</div> 

	<div id="bar-element"></div>
	<div id="menu-element"></div>

	<div id="container-map-gallery"></div>

	
    </body>
</html>
